
.alert, .securitywarning, .quotatext {
	display: block;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid gray;
	background-color: silver;
}
.alert, .alert a {
	color: black;
}
.alert a {
	font-weight: bold;
}
.alert.alert-success, .alert.alert-success a {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.alert.alert-notice, .alert.alert-notice a {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}
.alert.alert-warning, .alert.alert-warning a {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}
.alert.alert-danger, .alert.alert-danger a, .securitywarning, .securitywarning a {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

.form-group {
	margin-bottom: 10px;
}
.form-sub-group {
}

.form-group > .control-label {
	vertical-align: top;
	display: inline-block;
	margin: .3em;
	margin-left: 0;
	padding: .4em .5em .4em;
	padding-left: 0;
	font-size: 1em;
	width: 200px;
}
.form-group > div {
	display: inline-block;
	width: 500px;
}

.form-group > div > .form-control {
	display: block;
	width: 100%;
}

.form-group > div > input[type="checkbox"].form-control {
	width: 20px;
	margin-top: 12px;
	margin-bottom: .3em;
	margin-left: .3em;
}

.form-group > div > .help-block {
	display: block;
	width: 100%;
	font-style: italic;
	margin-left: .3em;
}
